
.font-p{
    font-size: 15px;
    font-weight: 400;
}
.img-bg{
    background-color: rgb(239, 217, 241);
}
.button-background{
    background-color: rgb(235, 220, 222);
}
.check-list{
    background-color: lightgray;
}
.background{
    background-image: url(icons/watermark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(92, 154, 235);
}
.height{
    height:400px;
}

 @media only screen and (min-width:356px) and (max-width:767px) {
    .carousel-item{
        height: 100vh;
    }
    .paragraph{
        font-size: 10px;
    }
     .img-width{
        width: 650px;
        height: 500px;
    }
    .pack-width{
        width: 50%;
    }
    .packages{
        align-items: center;
    }
} 

@media only screen and (min-width:649px) and (max-width:766px) {
    .img-width{
        width: 800px;
        height: 700px;
    }
    
}